@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{
    --cor1: #3B5061;
    --cor2: #6A8FAD;
    --fontepadrao: 'Bebas Neue', sans-serif;
    --fontetexto: Arial, sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}
header{
    background-color: var(--cor2);
    color: black;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0px 0px 1px black;

    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 0px 0px 10px 10px;

    padding: 20px;
}
body{
    background-color: white;
    font-family: var(--fontepadrao);
}
main{
    background-color: var(--cor2);
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}
main h2{
    color: black;
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
}
main.x h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
}
main.x h2{
    color: black;
    text-align: left;
    padding-top: 5px;
    text-indent: 0.8em;
    font-size: 1.8em;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    display: block;
    border-radius: 10px;
    max-height: 10px;
}
main h3{
    font-size: 1.5em;
    padding-bottom: 10px;
}
main p{
    padding-bottom: 20px;
    font-family: var(--fontetexto);
    
}
main a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
main ul{
    padding-left: 20px;
    font-family: var(--fontetexto);
}
main ol{
    padding-left: 20px;
}
main ol > li{ 
    font-family: var(--fontetexto);
}
main li{
    padding: 10px;
}
main a:hover{
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 8px;
    max-width: 100px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
main nav{
    text-align: right;
}
div.video{/*video*/
    background-color: var(--cor1);
    margin: 0px -20px 20px -20px;
    padding: 15px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
main > nav.YT{
    text-align: right;
    margin: 20px;
}
footer{
    background-color: var(--cor2);
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
    color: black;
    text-shadow: 0px 0px 1px black;
    padding-top: 5px;
}