@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    --cor1: #c46a65;
    --cor2: #FACFCD;
    --fontepadrao: 'Bebas Neue', sans-serif;
}
* {
    padding: 0px;
    margin: 0px;
}
header{
    background-color: var(--cor2);
    color: black;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    text-align: center;
    text-shadow: 0px 0px 1px black;

    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 0px 0px 10px 10px;

    padding: 20px;
}
body{
    background-color: white;
    font-family: var(--fontepadrao);
}
main{
    background-color: var(--cor2);
    max-width: 1000px;
    min-width: 350px;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}
main h2{
    color: black;
    text-shadow: 0px 0px 1px black;
    text-align: center;
    font-size: 2em;
    padding-bottom: 30px;
}
main p{
    padding-bottom: 20px;
}
main a{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
main ul{
    padding-left: 20px;
}
main li{
    padding: 10px;
}
main a:hover{
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--cor2);
    border-radius: 8px;
    max-width: 100px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}
main nav{
    text-align: right;
}
footer{
    background-color: var(--cor2);
    margin-top: 30px;
    text-align: center;
    font-size: 0.8em;
    color: black;
    
    padding-top: 5px;
}